{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- 	<div class="row">
		<div class="col-md-offset-8">
			<button>
				<a class="" href="{% url 'about' %}">About Us</a>	
			</button>

		</div>			
	</div> -->
	<div class="clear clear-fix" style="height:20px;"></div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 card" align="center"> 
			<h1 style="padding: 30px;" class="heading"> ... is Coming</h1>
			<img class="img img-responsive banner" src="{% static 'images/Banner.jpg' %}">
			<div class="clear-fix" style="height: 30px;"></div>
			<p class="readable"></p>
		</div>
	</div>	

{% endblock %}