{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<!-- 	<div class="row">
		<div class="col-md-offset-8">
			<button>
				<a class="" href="{% url 'about' %}">About Us</a>	
			</button>

		</div>			
	</div> -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3" align="center"> 
			<h1 style="padding: 30px;" class="heading"> ... is Coming</h1>
			<img class="img img-responsive banner" src="{% static 'images/Banner.jpg' %}">
			<div class="clear-fix" style="height: 30px;"></div>
			<p class="readable">We belive in the most basics of principles.<br>Simple is still better<br>
			Loyalty and Integrity is still our gold.<br> Code should still be clean &amp; understandable.<br><br>And most of all,
			giving up is for the last.</p>
		</div>
	</div>	

{% endblock %}